@import "tailwindcss";

.stars-detail {
  background: url('https://www.transparenttextures.com/patterns/stardust.png');
  animation: moveStars 100s linear infinite;
  height: 100%;
  width: 100%;
}

@keyframes moveStars {
  from { background-position: 0 0; }
  to { background-position: 1000px 1000px; }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out both;
}